:root{
    --c-brand: #7573fd;
}
@font-face {
    font-family: kaz;
    // src: url('./KazNet.ttf');
}

.rtl .home {
    font-family: kaz;
    direction: rtl;
}

.hiden-title .home #main-title {
    display: none;
}

.rtl .home #main-title {
    display: none;
}

.hiden-title .home .description {
    display: none;
}

.rtl .home .description {
    display: none;
}